#navbar
{
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    padding: 0;
        padding-top: 15px;
        padding-bottom: 15px;
    border-bottom: 1px solid #DDD;
    background-color: #FFF;
    z-index: 1;
}

#add_task_container
{
    width: 100%;
    padding-top: 25px;
}

#task-text
{
    width: 85%;
    font-size: 48pt;
    padding: 25px;
    margin-bottom: 25px;
    border: 0;
}

.action.add
{
    font-size: 48pt;
    margin: 20px;
    border: 1px solid red;
}