body
{
    font-family: Helvetica, Arial, sans-serif;
    color: #CCCCCC;
}

/* NAVIGATION BAR */

#navbar
{
    border: 0;
        border-bottom: 1px solid #DDDDDD;
    background-color: #F6F6F6;
}

#add_task_container
{
}

#input_task_text
{
    font-size: 48pt;
    border: 1px solid #DDDDDD;
    color: #DDDDDD;
}

/* ACTION BUTTONS */

.action
{
    transition: all 0.2s linear;
    font-size: 48pt;
}

.add
{
}

.add, .done
{
    color: #99DD99;
}

.add:hover, .done:hover
{
    color: #66AA66;
    cursor: pointer;
}

.delete
{
    color: #FF6666;
}

.delete:hover
{
    color: #AA0000;
    cursor: pointer;
}

/* TASK LIST */
#container_tasks
{
}

#container_tasks_completed
{
    display: none;
}

/* TASKS */

.task
{
    font-size: 48pt;
    border-bottom: 1px solid #F6F6F6;
}

.completed
{
  background-color:#EEFAEE;
  font-style:italic;
  color:#66AA66;
}

/* UI DIALOG */

.no-close .ui-dialog-titlebar-close
{
    display: none;
}

.ui-dialog-titlebar
{
    display: none;
}

.ui-dialog
{
    font-size: 32pt;
}

.ui-dialog-buttonpane
{
    border: 0;
}

/* SHOW COMPLETED TASKS BUTTON */