body
{
  font-family:Arial,sans-serif;
}

div
{
  margin: 5px;
}

div#add_task_container
{
  float: left;
  width: 24%;
  margin:0;
}

#add_task_container input, textarea
{
  width: 100%;
}

textarea
{
  box-shadow: 2px 2px #CCC;
  border:2px solid #CCC;
  padding:5px;
  resize: none;
  font-size:10pt;
  color:#999;
  font-family:Arial,sans-serif;
}

textarea:focus
{
  outline:none;
  box-shadow: 2px 2px #999;
  border:2px solid #999;
  color:#666;
}

input
{
  font-family:Arial,sans-serif;
  font-size:10pt;
}

input[type="text"]:focus
{
  outline:none;
  box-shadow: 2px 2px #999;
  border:2px solid #999;
  color:#666;
}

input[type="text"]
{
  padding:5px;
  box-shadow: 2px 2px #CCC;
  border:2px solid #CCC;
  margin-bottom:5px;
  color:#999;
}

.button
{
  box-shadow:0;
  background-color:#EEE;
  border-radius:2px;
  border:1px solid #EEE;
  padding:3px;
}

.button:hover
{
  background-color:#EEE;
  box-shadow:2px 2px #CCC;
  cursor:hand;
}

div#right_pane
{
  width: 75%;
  float: right;
}

#right_pane
{
  font-family: Helvetica;
  font-size: 12pt;
}

#right_pane pre
{
  white-space: pre-wrap;
  margin:0;
  padding:0;
}

.task h3
{
  padding:0;
  margin:0;
  vertical-align:middle;
}

.task h4
{
  padding:0;
    padding-bottom:2px;
  margin:0;
    margin-top:3px;
	margin-bottom:10px;
  border-bottom:1px solid #CCC;
  font-size:8pt;
  font-style:italic;
  font-weight:normal;
}

.action
{
  float:right;
  text-align:center;
  transition: all 0.2s linear;
}

.delete, .clear
{
  color:#FF6666;
}

.delete:hover, .clear:hover
{
  color:#AA0000;
  cursor:pointer;
}

.done, .add
{
  color:#66AA66;
  padding:0;
  margin-right:3px;
}

.done:hover, .add:hover
{
  color:#006600;
  cursor:pointer;
}

.task
{
  background-color:#EEE;
  box-shadow: 1px 1px #CCC;
  margin:0;
  padding:10px;
  margin:5px;
}

.completed
{
  background-color:#EEFAEE;
  font-style:italic;
  color:#66AA66;
}

.deleting
{
  color:#330000;
  background-color:#CCAAAA;
}

#list_actions_container
{
  font-size:26pt;
}

#list_task_container .action
{
  font-size:16pt;
}

#list_task_container .completed h3
{
  padding:0;
  margin:0;
}

#done_container
{
  vertical-align: text-bottom;
  font-style: normal;
  font-weight: bold;
  font-size: 8pt;
}

/* UI DIALOG */

.no-close .ui-dialog-titlebar-close
{
    display: none;
}

.ui-dialog-titlebar
{
    display: none;
}

.ui-dialog
{
    padding-top: 25px;
}

.ui-dialog-buttonpane
{
    border: 0;
}